################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/Implementierung/MusikschuleConsole/obj
/Implementierung/.vs
/Implementierung/MusikschuleConsole/.vs/MusikschuleConsole
