################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

# Build-Ordner
bin/
obj/

# Visual Studio Arbeitsordner
.vs/

# Benutzer- und Einstellungen
*.user
*.userosscache
*.suo
*.rsuser
*.sln.docstates

# Verschiedene temporäre Dateien
*.log
*.tmp
*.cache